<!DOCTYPE html>
<html>
<head>
    <title>Tabla de Alumnos</title>
</head>
<body>
    <div class="card-body">
        <div class="row p-1">
            <div class="col">
                <table class="table table-sm table-hover table-dark" id="tblConsultaAlumnos">
                    <thead>
                        <tr>
                            <th>Buscar:</th>
                            <th colspan="4">
                                <input type="text" name="txtBuscarAlumnos" id="txtBuscarAlumnos" 
                                    class="form-control" onkeyup="buscarAlumnos(this.value)">
                            </th>
                        </tr>
                        <tr>
                            <th>CODIGO</th>
                            <th>NOMBRE</th>
                            <th>DIRECCION</th>
                            <th>TEL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alumno in alumnos %}
                        <tr>
                            <td>{{ alumno[0] }}</td>
                            <td>{{ alumno[1] }}</td>
                            <td>{{ alumno[2] }}</td>
                            <td>{{ alumno[3] }}</td>
                            <td></td>  <!-- Aquí puedes agregar acciones adicionales si es necesario -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
